#page-landing {
    height: 600px;
    background: var(--c-baseorange);
}

.content-wrapper main h1 {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 450px;
    font-size: 4.0em;
    font-weight: 500;
    color: var(--c-white);
}